*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #c9c7c7;
}
.app{
  height: 100vh;
  width: 100%;

}
main{
  width: 100%;
  display: flex;
}
.left{
  position: fixed;
  z-index: 1;
  height: 80vh;
  width: 20%;
  background: #0F0A12;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 20px 2%;
}

.right{
  margin-left: 20%;
  height: auto;
  width: 80%;
  background-image: linear-gradient(to left, #304334, #32AD5E)
}
footer{
  background: #282828;
  height: 20vh;
  border-top: 1px solid black;
  position: sticky;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.up-left{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
.up-left>img{
  width: 60%;
}
.wd-icon{
  width: 25px;
}
.down-left hr{
  border-top: 1px solid #7c6f6f;
  width: 90%;
}
.nav ul{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}
.padding-top{
  padding-top: 30px;
}
.green-bar{
  position: relative;
}
/* questa non è farina del mio piccolo sacco ma almeno ho scoperto un utilizzo del before */
.green-bar:before{
  content: "";
  height: 2px;
  background-color: #1db954;
  width: 30px;
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  margin-left: -15px;
}
.big-title{
  padding: 40px 0 10px 15px;
}
.big-title h1{
  font-size: 35px;
  font-weight: 700;
  color: white;
}
.immagine, .didascalia{
  max-width: 300px;
  max-height: 300px;
  position: relative;
}
.immagine img{
  width: 100%;
}

.layer {
  transition: .5s ease;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.immagine:hover img {
  opacity: 0.4;
}
.immagine:hover .layer {
  display: block;
}
.didascalia p{
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: white;
}
.left-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-footer img{
  max-width: 70px;
  max-height: 70px;

}
.left-footer>*{
margin: 0 20px;
}

.center-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-footer img{
  width: 100px;
}
.icon-row *{
  margin: 0 35px;
}
.right-footer i{
  margin: 0 15px 0 15px;
}
.right-footer{
  display: flex;
}
.volume-bar{
  width: 70px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.white-volume{
  width: 65%;
  border: 3px solid white;
  border-radius: 10px;
}
.grey-volume{
  width: 35%;
  border: 3px solid grey;
  border-radius: 10px;
}
.play-bar{
  width: 600px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.played-music{
  width: 75%;
  border: 3px solid white;
  border-radius: 10px;
  margin-left: 20px;
}
.unplayed-music{
  width: 25%;
  border: 3px solid grey;
  border-radius: 10px;
  margin-right: 20px;
}
@media all and (max-width: 800px){
  .disappear span{
    display: none;
  }
  .left{
    width: 10%;
  }
  .right{
    width: 90%;
    margin-left: 10%;
  }
}
