*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #c9c7c7;
}
.app{
  height: 100vh;
  width: 100%;

}
main{
  width: 100%;
  display: flex;
}
.left{
  position: fixed;
  z-index: 1;
  height: 80vh;
  width: 25%;
  background: #0F0A12;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wd-icon{
  width: 25px;
}

.right{
  margin-left: 25%;
  height: auto;
  width: 75%;
  background-image: url(backg.png);
}
footer{
  background: #282828;
  height: 20vh;
  border-top: 1px solid black;
  position: sticky;
  bottom: 0;
  z-index: 1;
}
.up-left{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  margin: 10% 0 0 15%;
}
.up-left>img{
  width: 80%;
}
.nav ul{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}
.padding-top{
  padding-top: 30px;
}
.green-bar{
  position: relative;
}
/* questa non è farina del mio piccolo sacco ma almeno ho scoperto un utilizzo del before */
.green-bar:before{
  content: "";
  height: 2px;
  background-color: #1db954;
  width: 30px;
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  margin-left: -15px;
}
.big-title{
  margin: 40px 0 10px 50px;
}
.immagine{
  max-width: 150px;
  max-height: 150px;
}
.immagine img{
  width: 100%;
}
footer, .left-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-footer img{
  max-width: 70px;
  max-height: 70px;

}
.left-footer>*{
margin: 0 20px;
}

.center-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-footer img{
  width: 100px;
}
.icon-row *{
  margin: 0 35px;
}
.right-footer i{
  margin: 0 15px 0 15px;
}
.right-footer{
  display: flex;
}
.volume-bar{
  width: 70px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.white-volume{
  width: 65%;
  border: 3px solid white;
  border-radius: 10px;
}
.grey-volume{
  width: 35%;
  border: 3px solid grey;
  border-radius: 10px;
}
.play-bar{
  width: 600px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.played-music{
  width: 75%;
  border: 3px solid white;
  border-radius: 10px;
  margin-left: 20px;
}
.unplayed-music{
  width: 25%;
  border: 3px solid grey;
  border-radius: 10px;
  margin-right: 20px;
}
